@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --full-slider-bar: hsl(174, 77%, 80%);
  --slider-background: hsl(174, 86%, 45%);
  --slider-glow: hsla(174, 86%, 45%, 20%);
  --pricing-component-bg: hsl(0, 0%, 100%);
  --subtle-text: hsl(225, 20%, 60%);
  --cta-bg: hsl(227, 35%, 25%);
  --toggle-bg: hsl(223, 50%, 87%);
  --discount-text: hsl(15, 100%, 70%);
  --discount-bg: hsl(14, 92%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: relative;
}

.content {
  min-height: 100vh; 
  width: 100vw;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  background-image: url(../images/bg-pattern.svg);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 1fr 2fr 60%;
}

.cta {
  color: var(--cta-bg);
}

.header {
  line-height: 2;
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  margin: 0 auto;
  text-align: center;
  background-image: url(../images/pattern-circles.svg);
  background-position: top;
  background-repeat: no-repeat;
}

.header > p {
  font-size: 15px;
  color: var(--subtle-text);
}

.container {
  color: var(--subtle-text);
  grid-column: 1 / -1;
  grid-row: 3 / -1;
  width: 600px;
  height: min-content;
  margin: 0 auto;
  padding: 2%;
  border-radius: 10px 10px;

  background: var(--pricing-component-bg);
}

.container > * {
  width: 90%;
  margin: 5% 5% auto auto;
}

.top {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  display: grid;
  font-weight: 600;
  grid-template-areas:
    "a b"
    "c c";
}

.pageview {
  grid-area: a;
  margin: auto 0;
}

.amount-month {
  grid-area: b;
  justify-self: end;
}

.range-wrap {
  grid-area: c;
}

#textpageviews {
  text-transform: uppercase;
}

#amount {
  font-size: 2rem;
  font-weight: 800;
  vertical-align: middle;
}

/**********section mid**************************************/
.mid {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

span.discount-long {
  padding-inline: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
  font-weight: 800;
  color: var(--discount-text);
  background-color: var(--discount-bg);
}

span.discount-short {
  display: none;
  padding-inline: 1rem;
  border-radius: 1rem;
  font-weight: 800;
  color: var(--discount-text);
  background-color: var(--discount-bg);
}

/**********toggle switch***************************************/
.switch {
  /*create box around the slider */
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  margin-inline: 1rem;
}

.switch input {
  /*hide default checkbox*/
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  /*create slider*/
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-bg);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
}

.slider.round {
  border-radius: 18px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--slider-background);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--slider-background);
}

input:checked + .slider:before {
  transform: translateX(16px);
}

/**********section bottom**************************************/
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.features {
  list-style: none;
}

.features li {
  margin-top: 1rem;
  list-style-image: url(../images/icon-check.svg);
  list-style-position: inside; /*indent checkmarks to be inline with top */
}

.button-trial {
  background-color: var(--cta-bg);
  padding: 0.6rem 3.5rem;
  border-radius: 1.2rem;
}

.button-trial:hover {
  cursor: pointer;
}

.button-trial:active {
  background-color: var(--subtle-text);
  color: var(--cta-bg);
}

/*********Override Default Slider Style************************/

input[name="range-input"] {
  -webkit-appearance: none;
  background: transparent;
}

input[name="range-input"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
}

input[name="range-input"]:focus {
  outline: none;
}

input[name="range-input"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/*********Styling the thumb************************/

/* Special styling for WebKit/Blink */
input[name="range-input"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--slider-background);
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 0 5px 3px 10px var(--slider-glow);
}

/* All the same stuff for Firefox */
input[name="range-input"]::-moz-range-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--slider-background);
  cursor: pointer;
  box-shadow: 0 5px 3px 10px var(--slider-glow);
}

/* All the same stuff for IE */
input[name="range-input"]::-ms-thumb {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-image: url(../images/icon-slider.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--slider-background);
  cursor: pointer;
}

/**********Styling the track*************************/

input[name="range-input"] {
  /*check main.js for the dynamic code to style right side of track based on value*/
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 50%,
    hsl(224, 65%, 95%)
  );
  border-radius: 3px;
  transition: background 450ms ease-in;
}

@media (max-width: 600px) {
  * {
    font-size: 13px;
  }

  .header > h1 {
    font-size: 2rem;
  }

  .container {
    width: 350px;
  }

  .top {
    /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
    display: grid;
    font-weight: 600;
    grid-template-areas:
      "a"
      "b"
      "c";
  }

  .pageview {
    justify-self: center;
    grid-area: a;
  }

  .amount-month {
    grid-area: c;
    justify-self: center;
    margin-top: 1.5rem;
  }

  .range-wrap {
    grid-area: b;
    margin-top: 1.5rem;
  }

  span.discount-long {
    display: none;
  }


  span.discount-short {
    display: inline-block;
  }

  .switch {
    margin-inline: 0;
  }

  .mid {
    padding: 0;
    text-align: center;
    justify-content: space-evenly;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .button-trial {
    background-color: var(--cta-bg);
    margin-top: 2rem;
    border-radius: 1.2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
